.logo{
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: 'Satisfy', cursive;
    color:  #e76d22;
  }
  
  .header{
    padding: 1rem 0rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    &__svg{
      font-size: 2rem;
    }
  }
  
